.signup-container {
  max-width: 400px;
  margin: 80px auto;
  background: #111;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.signup-container h2 {
  color: #ffce00;
  margin-bottom: 1rem;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background: #ffce00;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-weight: 600;
}

.signup-container button:hover {
  background: #ffaa00;
}

.already-account {
  margin-top: 1rem;
  text-align: center;
  color: #ccc;
}

.already-account p {
  margin-bottom: 0.3rem;
}

.login-btn {
  background: none;
  border: 1px solid #ffce00;
  color: #ffce00;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #ffce00;
  color: #000;
}